.groupCard {
    font-size: 40px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: stretch;
    margin-top: 1%;
    flex-grow: 1;
    cursor: pointer;
}

.addCard {
    background-color: #888888 !important;
    cursor: pointer;
}

.placeCard {
    cursor: pointer;
}