html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./assets/background.jpg');
    background-size: 25rem;
    min-height: 100%;
    width: 100%;
}

#root {
    overflow: auto;
    min-height: 100%;
}

.content {
    background-color: bisque;
    margin-top: 2.5%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    text-align: center;
    min-height: 100%;
    padding-bottom: 2.5%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.item_card {
    width: 50%;
}

.title {
    padding-top: 1%;
    padding-bottom: 1%;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.popup-content {
    width: 25% !important;
    background-color: grey!important;
    border-color: black!important;
}

.model {
    width: 100%;
}

.model>.title {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid black;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}

.linkField {
    text-align: center;
    width: 44ch;
}

.helpHeader {
    padding-top: 2.5%;
}

.helpTips {
    text-align: left;
    padding: 2.5%;
}